extends layout

block content
    .photo-container2
        .description 
            span.title #{album.title}
            p #{album.descriptionFR}
            p #{album.descriptionENG}
        .photo-container-half
            .slider_container
                each photo, index in album.slider
                    img(src=`/uploads/${photo}` alt=`${album.tags || album.title}` data-position=`${index+1}`).index
                span.counter
        