mixin albumCardEdit(album = {})
    .portfolio2
        a(href=`/album/${album._id}/edit`) ○
        a(href=`/album/${album.slug}`)
            img(src=`/uploads/${album.photoCover || 'PhotoBio.jpg'}` alt=album.title).thumbnails2
        p.album_title= album.title

