mixin albumForm(album = {})
    form(method='post', action=`/users/add/${album._id || ''}` enctype='multipart/form-data').login
        label(for='title') Title
        input(type='text', name='title', placeholder='Enter a title', required='' value=album.title)
        br
        label(for="descriptionFR") Description FR
        textarea(name="descriptionFR")= album.descriptionFR
        br
        label(for="descriptionENG") Description ENG
        textarea(name="descriptionENG")= album.descriptionENG
        
        //- img upload
        label(for="photoCover") Album Cover   
            input(type="file", name="photoCover" accept='image/gif, image/png, image/jpeg')
            if album.photoCover
                img(src=`/uploads/${album.photoCover}`, alt=album.title width=200)
        br
        label(for="slider") Slider                
            input(type="file", name="slider" accept='image/gif, image/png, image/jpeg' multiple)
            if album.slider
                each photo in album.slider
                    img(src=`/uploads/${photo}`, alt=album.title width=200)                
        br
        label(for="tags") Tags
            input(type='text', name='tags', placeholder='Enter some tags' value=album.tags)
        input(type='submit', value='ADD Album →').button



        "6e9edb73-9648-43b9-8839-90d2fa305dca.jpeg",
        "b24a28b8-1e38-4c9d-97fe-0b29e787598c.jpeg",
        "1e968fa7-657d-451a-a18c-4320f6371e35.jpeg",
        "c42f0315-e277-4bc7-b986-5d394868a060.jpeg",
        "a75a9238-c650-4cfd-b595-a8f610c091d6.jpeg",
        "8c555723-7e03-4530-b0b0-c16e6f36fbb4.jpeg",
        "08b3b009-655a-4417-8cb1-fa563875081b.jpeg"